{% extends "base.html" %}
{% block content %}
<div class="col-xs-6 center-block">
    <form method="post" action="" role="form">
        {% csrf_token %}
        <div class="form-group">
            <input id="id_username" maxlength="30" name="username" type="text" class="form-control" placeholder="Benutzername">
            <p><span class="helptext">Erforderlich. 30 Zeichen oder weniger. Nur alphanumerische Zeichen (Buchstaben, Ziffern und @/./+/-/_) sind erlaubt.</span></p>
        </div>
        <div class="form-group">
            <input id="id_password1" name="password1" type="password" class="form-control" placeholder="Passwort">
        </div>
        <div class="form-group">
            <input id="id_password2" name="password2" type="password" class="form-control" placeholder="Passwort wiederholen">
            <p><span class="helptext">Bitte das gleiche Passwort zur Überprüfung nochmal eingeben.</span></p>
        </div>
        <input type="submit" value="Login" class="btn btn-default">
    </form>
</div>
{% endblock %}
