.wishlist {
    margin-top: 40px;
}
.titles {
    font-weight: bold;
    margin-bottom: 15px;
}
.items {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #CCC;
}
.items .wishlist-dropdown, .items .wishlist-completed {
    background: none;
}
.copies {
    margin-top: 20px;
}
.copies-info {
    margin-bottom: 5px;
}
.copies-info .btn {
    font-size: 5px;
}
.wishlist-name, .wishlist-author, .wishlist-text    {
    font-weight: bold;
}
.wishlist-location {
    color: #777;
    font-style: italic;
}

@media(max-width:767px){

    #id_text {
        width: 70%;
        margin-right: 2%;
        float: left;
    }
    .wishlist-submit {
        width: 28%;
    }
    .wishlist-name, .items-head-title{
        padding-left: 30px;
    }
    .wishlist-dropdown-container {
        float: right;
    }
    .copies img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .copies .col-xs-8 {
        width: 100%;
    }

    .copies-info {
        width: 100%;
        margin: 0;
    }

    .copies-info .col-xs-4 {
        margin-left: -15px;
        width: 50%;
    }

    .copies-info .col-xs-1 {
        margin-left: 15px;
        padding-right: 0;
        float: right;
        width: 50%;
    }
    .copies-info .btn {
        float: right;
    }

}
