.wishlist {
    margin-top: 40px;
}
.titles {
    font-weight: bold;
    margin-bottom: 15px;
}
.items {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #CCC;
}
.items .wishlist-dropdown, .items .wishlist-completed {
    background: none;
}
.copies {
    margin-top: 20px;
}
.copies-info {
    margin-bottom: 15px;
}
.copies-info .btn {
    font-size: 5px;
}
.wishlist-name, .wishlist-author, .wishlist-text    {
    font-weight: bold;
}
.wishlist-location {
    color: #777;
    font-style: italic;
    display: block;
}
.opening-hours {
    margin-bottom: 40px;
}
.search-results {
    margin-top: 20px;
}

.center-block {
    float: none;
}

@media(max-width:767px){

    #id_text {
        width: 70%;
        margin-right: 2%;
        float: left;
    }
    .wishlist-submit {
        width: 28%;
        font-size: 11px;
        height: 34px;
    }
    .wishlist-name, .items-head-title{
        padding-left: 30px;
    }
    .copies img {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .copies .col-xs-8 {
        width: 100%;
    }

    .copies-info {
        width: 100%;
        margin: 0;
        margin-bottom: 15px
    }

    .copies-info .col-xs-4 {
        margin-left: -15px;
        width: 50%;
    }

}
