<!DOCTYPE html>
<html lang="de">
    <head>
        <title>GGG Wunschliste</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content"noindex, nofollow">
        <link rel="apple-touch-icon" href="{{STATIC_URL}}images/ggg_favicon_152.png">
        <!-- Bootstrap -->
        <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{STATIC_URL}}css/all.css" rel="stylesheet" media="screen">
        <script type="text/javascript">
          var csrf = '{{csrf_token}}';
          var user_id = parseInt('{{ user_id }}') ||  null;
        </script>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GGG Wunschliste</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if username %}
                  <ul class="nav navbar-nav">
                    <li><a href="#" class="wishlist-collapse-all">Alle Medien aufklappen</a></li>
                    <li class="{% if not currentBranch %} active {% endif %}"><a href="/" >Alle Zweigstellen</a></li>
                        {% for b in branches %}
                          <li class="{% if currentBranch.name == b.name %} active {% endif %}">
                              <a href="/branches/{{ b.slug }}">{{ b.name }}</a>
                          </li>
                        {% endfor %}
                  </ul>
                {% endif %}
                <ul class="nav navbar-nav pull-right">
                  {% if username %}
                    <li><a href="{% url 'logout_view' %}?next={{request.path}}"><strong>{{ username }}</strong> Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'login_view' %}?next={{request.path}}">Login</a></li>
                    <li><a href="{% url 'registration_view' %}?next={{request.path}}">Account erstellen</a></li>
                  {% endif %}
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="container">
            <div class="col-xs-12">
                <div class="row">

                {% include "searchform.html" %}

                {% block content %}{% endblock content %}

                </div>
            </div>
        </div>
        <script src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
        <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>
    </body>
</html>
