{% if username %}
    {% if currentBranch %}
    <div class="opening-hours">
        {% for b in branches %}
            {% if currentBranch.name  == b.name %}
            <h4>Öffnungszeiten {{ currentBranch.name }}</h4>
            <p>{{ currentBranch.opening_hours }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <form id="create-form" role="form" action="" method="post" class="form-inline">{% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" id="id_text" name="text" placeholder="Titel hier eingeben">
        <button type="submit" class="btn btn-default wishlist-submit">Hinzufügen</button>
      </div>
    </form>
    <div class="search-results"></div>
{% endif %}
